@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "销售人员设置";
}
@section Scripts{
    <script>
        $(function () {
            console.log([Request["Type"], Request["Batch"]]);
            $("#btnSave").click(function () {
                var item = {
                    disId: Request["disId"],
                    batch: Request["batch"],
                    SalesManager: $("#SalesManager").val(),
                    SalesConsultant: $("#SalesConsultant").val(),
                    SalsInside: $("#SalsInside").val()
                };
                console.log(item);
                $.sa.post(SavePlansPosition,
                    JSON.stringify(item),
                    {
                        "success": function (data) {
                            $.sa.alert("保存成功");
                            var disList = [];
                            disList.push(item);
                            window.parent.popcallback(disList);
                        },
                        "failure": function (data) {
                            $.sa.alert("保存失败");
                        }
                    }, $("body"));

            })

        })
    </script>
}

<div class="row gap-top" style="line-height:30px">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon title-sm "><font color="red">* </font>销售经理</span>
            <input type="text" class="form-control inputMaxWidth" id="SalesManager">
        </div>
    </div>
    <div class="col-md-12" style="text-align: right;padding-top:  5px;">
        <div class="input-group">
            <span class="input-group-addon title-sm "><font color="red">* </font>销售顾问</span>
            <input type="text" class="form-control inputMaxWidth" id="SalesConsultant">
        </div>
    </div>
    <div class="col-md-12" style="text-align: right;padding-top:  5px;">
        <div class="input-group">
            <span class="input-group-addon title-sm "><font color="red">* </font>销售内勤</span>
            <input type="text" class="form-control inputMaxWidth" id="SalsInside">
        </div>
    </div>
    <div class="col-md-12" style="text-align: right;padding-top:  5px;">
        <button type="button" class="btn btn-primary" id="btnSave">
            <span class="fa fa-save gap-icon"></span>保存
        </button>
    </div>
</div>
