@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutOfPop";
    ViewData["Title"] = "销售人员设置";
}
@section Scripts{
    <script>
        $(function () {

            if (Request["selType"] == "E") {
                $("#SalsInsideDiv").hide();
            }
            var item = {
                DisId: Request["disId"],
                Batch: Request["batch"]
            }
            $.sa.get(GetPlansPosition,
                   item,
                   {
                       "success": function (data) {
                           $("#btnSave").prop("disabled", false);
                           var jData = JSON.parse(data.body);
                           if (jData.length > 0) {
                               item.Id = jData[0].Id;
                               $("#SalesManager").val(jData[0].SalesManager);
                               $("#SalesConsultant").val(jData[0].SalesConsultant);
                               $("#SalesInside").val(jData[0].SalesInside);
                           }
                       },
                       "failure": function (data) {
                           $("#btnSave").prop("disabled", true);
                           $.sa.alert("查询PlansPosition失败");
                       }
                   }, $("body"));
            $("#btnSave").click(function () {
                item = $.extend(item, {
                    InUserid: '@Context.Request.Cookies[SessionKeys.SESSION_USERID]',
                    SalesManager: $("#SalesManager").val(),
                    SalesConsultant: $("#SalesConsultant").val(),
                    SalesInside: $("#SalesInside").val()
                });
                if (!item.Id) {
                    item.Id = "0";
                }
                $.sa.post(SavePlansPosition,
                    JSON.stringify(item),
                    {
                        "success": function (data) {
                            $.sa.alert("保存成功");
                            var disList = [];
                            disList.push(item);
                            window.parent.popcallback(disList);
                        },
                        "failure": function (data) {
                            $.sa.alert("保存失败");
                        }
                    }, $("body"));

            })

        })
    </script>
}

<div class="row gap-top" style="line-height:30px">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon title-sm"  style="width:180px"><font color="red">* </font>销售经理/销售DCC经理</span>
            <input type="text" class="form-control inputMaxWidth" id="SalesManager">
        </div>
    </div>
    <div class="col-md-12" style="text-align: right;padding-top:  5px;">
        <div class="input-group">
            <span class="input-group-addon title-sm " style="width:180px"><font color="red">* </font>销售顾问/直销员</span>
            <input type="text" class="form-control inputMaxWidth" id="SalesConsultant">
        </div>
    </div>
    <div class="col-md-12" style="text-align: right;padding-top:  5px;" id="SalsInsideDiv">
        <div class="input-group">
            <span class="input-group-addon title-sm" style="width:180px"><font color="red">* </font>销售内勤</span>
            <input type="text" class="form-control inputMaxWidth" id="SalesInside">
        </div>
    </div>
    <div class="col-md-12" style="text-align: right;padding-top:  5px;">
        <button type="button" class="btn btn-primary" id="btnSave">
            <span class="fa fa-save gap-icon"></span>保存
        </button>
    </div>
</div>
